@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    /* padding-top: 2rem; Espaçamento entre o container e o header */
    margin:2rem;
  }
  
  .list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  
  /* Para garantir responsividade */
  @media (max-width: 768px) {
    .container {
      margin:1rem; /* Ajuste para telas menores */
    }
  
    ul > li {
      margin-bottom: 0.5rem; /* Ajuste para telas menores */
    }
  }

  